
body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4
/* {margin:0;padding:0;font-style:normal;font:12px/22px "\5B8B\4F53",Arial, Helvetica,sans-serif}  */
{margin:0;padding:0;font-style:normal;} 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{margin:0;padding:0;}
.clear{clear:both;height:1px;width:100%; overflow:hidden; margin-top:-1px;} 
a{color:#000000;text-decoration:none; cursor: pointer }  
a:hover{color:#BA2636;text-decoration:underline;} 



body{
    color:#000000;
    background:#fafafa; 
    text-align:center;
    /* position: absolute; */
} 

.main{
    width: 100%;
    margin: auto;
    text-align: center;
}

.common-block{
    margin: 2% 2%;
    padding: 2% 2%;
    background-color: #ffffff;
}

.common-title{
    color: #000000;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    padding-left: 1%;

}
.common-title strong{
    padding-bottom: 5px;
    border-bottom: 4px solid #3498db;
    border-radius: 2px;
}

.common-tips{
    color: #666666;
    text-align: left;
    padding-left:1%;
}

.common-tips-moblie{
    color: #999999;
    text-align: left;
    padding-left:1%;
    display: none;
}

.common-list{
    display: flex;
    overflow: auto;
}

.common-list li{
    display: inline-block;
}

.common-list .block{
    padding: 10px 10px;
}

.alink{
    color: #000000;
    font-size: 14px;
    padding-left: 50px;
}
.aicon{
    display: inline-block;
    max-width: 200px;
    height: 18px;
    padding-left: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.aTextBtn{
    padding: 10px 10px;
    color: #000000;
    font-size: 14px;
    display: inline-block;
    max-width: 200px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}




.list{
    margin: 2% 2%;
    padding: 2% 2%;
    background-color: #ffffff;
}

.list li{
    margin-bottom: 4%;
    display: inline-block;
}

.list .block{
    padding:10px 10px;
}



.button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    text-decoration: none;
  }
  
.button:hover {
    background: #2980b9;
    background-image: -webkit-linear-gradient(top, #2980b9, #3498db);
    background-image: -moz-linear-gradient(top, #2980b9, #3498db);
    background-image: -ms-linear-gradient(top, #2980b9, #3498db);
    background-image: -o-linear-gradient(top, #2980b9, #3498db);
    background-image: linear-gradient(to bottom, #2980b9, #3498db);
    color: #ffffff;
    text-decoration: none;
}

@media (min-height:800px) {
    .main{
        font:32px/42px "\5B8B\4F53",Arial, Helvetica,sans-serif
    }  

    .common-list {
        display: inline-block;
    }
    .common-list .block{
        padding: 20px 20px;
    }
    .common-title strong{
        padding-bottom: 2%;
        border-bottom: 4px solid #3498db;
        border-radius: 2px;
    }
    
    .common-tips-moblie{
        display: block;
    }

    .alink{
        font-size: 44px;
        height: 50px;
        background-size: 36px 36px;
        padding-left: 50px;
    }

    .aTextBtn{
        font-size: 44px;
        height: 50px;
    }


    .button {
        font-size: 24px;
    }




} 


/* @media all and (min-width: 768px) and (max-width: 1024px) {

    .main{
        font:32px/42px "\5B8B\4F53",Arial, Helvetica,sans-serif
    }

    .common-list .block{
        padding: 20px 20px;
    }

    .common-title strong{
        padding-bottom: 2%;
        border-bottom: 4px solid #3498db;
        border-radius: 2px;
    }

    .alink{
        font-size: 44px;
        height: 50px;
        background-size: 36px 36px;
        padding-left: 50px;
    }

} */
/* @media all and (min-width: 1024px) and (max-width: 1500px) {
    .common-list .block{
        padding: 20px 20px;
    }
    .alink{
        font-size: 44px;
        height: 50px;
        background-size: 36px 36px;
        padding-left: 50px;
    }
}
@media all and (min-width: 1500px) {
    .common-list .block{
        padding: 20px 20px;
    }
    .alink{
        font-size: 44px;
        height: 50px;
        background-size: 36px 36px;
        padding-left: 50px;
    }
} */